* {
  padding: 0;
  margin: 0;
  box-sizing: border-box0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.hots li {
  background-color: #F5F5F5;
  border-radius: 9999px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:0.5s;
}
.hots li:hover{
  transform: translateY(-10px);
}
.social li {
  box-shadow: 0 0 2px #524949;
}

.icon {
  transition: 1s;
}

.btn:hover .icon {
  transform: translateX(10px);
}